<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap"
      rel="stylesheet"
    />
    <link href="/style.css" rel="stylesheet" />

    <title>Pokedex!</title>
  </head>
  <body>
    <%- include('./partials/header.ejs')%>
    <main>
      <section id="Pokemons">
        <% pokedex.forEach(element=>{ %>
        <a href="/detalhes/<%=element.id%>">
          <article class="pokes">
            <div class="images">
              <img src="<%= element.img%>" alt="<%= element.name%>" />
            </div>
            <div class="pokename">
              <div><%=element.number%></div>
              <div><%=element.name%></div>
              <div><%=element.type%></div>
            </div>
          </article>
        </a>
        <%}) %>
      </section>
    </main>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
